{
  "extends": "airbnb-base",
  "env": {
    "node": true,
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "no-console": 0,
    "no-eval": 0,
    "quotes": [2, "double", "avoid-escape"],
  }
}
